body {
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 225, 222);
    padding: 20;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;

}

aside { 
    flex : 1;
    overflow-y: auto;
}